extends layout

block content
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript") 
    link(rel="stylesheet", href="/stylesheets/audio-thing.css")
    .container2(style="display: none;")
        input.input#searchInput(type="text" placeholder="Search for a song" style="margin-right: 10px;")
        button.btn#searchBtn(style="margin-left: 10px;") Search
    .container3
        button.btn#beginBtn Click me n-
    #controls
        img#trackBG.no-touch(src="https://i.scdn.co/image/ab67616d00001e02cad190f1a73c024e5a40dddd")
        h1
            a#song
        h2
            a#artist
        h2
            a#album
    img#bg.no-touch
    script(src="/javascripts/audio.js")