extends layout

block content
    .container1
        h1= title
        input.input(type='number' placeholder='number')
    .container2
        button#shape.btn Make Shape
        button#invert.btn Invert Colors
    canvas#canvas(width='500' height='500')
    script(src='/javascripts/iffy.js')