extends layout

block content
    h1 International Space Station Thingy
    .container2
        button.btn#update Update Info
        button.btn#store Store Info
    .container1
    script(src='/javascripts/iss.js')