extends layout

block content
    .container1
        h1= title
        img#img(src="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png" alt="" style="width: 25%;")
        a#description(href="")
    .container1
        input.input(type="text" placeholder="food type")
        button.btn Get food!
    script(src="/javascripts/lunchtime.js")