extends layout

block content
    link(rel="stylesheet", href="/stylesheets/poland.css")
    .container1
        button.btn Click me n-
    img#img(src="/images/poland.jpg", alt="")
    img#gif(src="https://i.imgflip.com/6lj2wu.gif", alt="")
    script(src="/javascripts/poland.js") 