extends layout

block content
    link(rel="stylesheet", href="/stylesheets/listening-party.css")
    .container1
        button.btn Click me n-
    .video-wrapper
        video#vid(loop playsinline preload="metadata" style="display:none")
            source(src='/videos/Lil Yachty - Poland.mp4')
    script(src="/javascripts/listening-party.js")