doctype html
html
    head
        title Storybook Thing
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/storybook.css')
        link(rel='shortcut icon' href='https://i.ibb.co/3FFLwnW/logo-Small-Size.webp')
    body
        #container
            .area
                .innerarea
                    img(src='/images/storybook/panel1.png' alt='')
                    img(src='/images/storybook/panel2.png' alt='')
            .area
                .innerarea
                    img(src='/images/storybook/panel3.png' alt='')
                    img(src='/images/storybook/panel4.png' alt='')
            .area
                .innerarea
                    img(src='/images/storybook/panel5.png' alt='')
                    img(src='/images/storybook/panel6.png' alt='')
                    img(src='/images/storybook/panel7.png' alt='')
            .area
                #final.innerarea
                    img(src='/images/storybook/panel8.png' alt='')
            p#dialogue1.speech Once upon a time in a wacky ass forest...
            p#dialogue2.speech The animals lived quitely 
            p#dialogue3.speech until the winter came, so they fled to da hawaiian islands.
            p#dialogue4.speech they uhh chilled for a bit.
            p#dialogue5.speech then the weather changed
            p#dialogue6.speech and then they went to da city
            p#dialogue7.speech and den dey went to see da pyramids
            p#dialogue8.speech OOoOohhhHHH aaaaaAAAahahahhHHH THE JOE ROGAN EXPERIENCE